apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: workspace
  name: workspace
spec:
  replicas: 1
  selector:
    matchLabels:
      app: workspace
  template:
    metadata:
      labels:
        app: workspace
    spec:
      containers:
        - env:
            - name: ACCOUNTS_URL
              value: http://account
            - name: STATS_URL
              value: http://stats
            - name: TRANSACTOR_URL
              valueFrom:
                configMapKeyRef:
                  name: huly-config
                  key: TRANSACTOR_URL
            - name: STORAGE_CONFIG
              valueFrom:
                secretKeyRef:
                  name: huly-secret
                  key: STORAGE_CONFIG
            - name: MODEL_ENABLED
              value: '*'
            - name: DB_URL
              valueFrom:
                secretKeyRef:
                  name: huly-secret
                  key: CR_DB_URL
            - name: MONGO_URL
              valueFrom:
                configMapKeyRef:
                  name: huly-config
                  key: MONGO_URL
            - name: SERVER_SECRET
              valueFrom:
                secretKeyRef:
                  name: huly-secret
                  key: SERVER_SECRET
            - name: QUEUE_CONFIG
              value: redpanda:9092
<<<<<<< Updated upstream
          image: hardcoreeng/workspace:v0.7.307
=======
          image: hardcoreeng/workspace:v0.7.311
>>>>>>> Stashed changes
          name: workspace
          resources:
            limits:
              memory: "512M"
      restartPolicy: Always
